
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <style>
        .shade {
            background-color: aqua;
        }

        .body-container {
            /*remove the container default padding  attribute*/
            padding-left: 0px !important;
            padding-right: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;
        }
    </style>
    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="../assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1 style="font-family: 'Montserrat', sans-serif;">Tìm kiếm công việc tại Find Job Ngay !</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                       
                    </div>
                </div>
            </div>
        </div>
        
        </div>
     
    </main>
</div>